.aws-sfn-graph-container {
    text-align: center;
    position: relative;
    background-color: var(--background-secondary);
    margin-bottom: 2em;
}

.aws-sfn-graph-container.in-error {
    color: var(--text-error);
    padding: 2em;
}

.aws-sfn-graph-container svg {
    overflow: hidden;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 250ms;
}

.aws-sfn-graph-container.loading svg {
    opacity: 0;
}

.aws-sfn-graph-container .node>.shape {
    stroke: var(--text-muted);
    stroke-width: .6px;
    fill: transparent;
}

.aws-sfn-graph-container .node.anchor>.shape {
    stroke-width: 1px;
}

.aws-sfn-graph-container .node.state.Container>.shape,
.aws-sfn-graph-container .node.state.Pass>.shape,
.aws-sfn-graph-container .node.state.Wait>.shape {
    stroke-dasharray: 5 2
}

.aws-sfn-graph-container marker {
    fill: var(--text-muted)
}

.aws-sfn-graph-container path {
    stroke: var(--text-muted);
    background-color: var(--text-muted);
    stroke-width: 1px
}

.aws-sfn-graph-container tspan {
    font-weight: 400;
    font-size: 12px;
    text-shadow: none;
    fill: var(--text-normal);
}

.aws-sfn-graph-container .node.state.Map>.shape {
    fill: var(--background-secondary);
}

.aws-sfn-graph-container.colorized .node.state.Container>.shape,
.aws-sfn-graph-container.colorized .node.state.Map>.shape {
    fill: var(--background-primary);
}

.aws-sfn-graph-container.colorized .node.state:not(.Container)>.shape {
    stroke: var(--text-accent);
}

.aws-sfn-graph-container.colorized .node.anchor>.shape {
    fill: var(--text-accent);
}

.aws-sfn-graph-container.colorized .node.state.Fail>.shape {
    stroke: var(--red);
}

.aws-sfn-graph-container.colorized .node.state.Succeed>.shape {
    stroke: var(--green);
}

.aws-sfn-graph-container.colorized .node.state.Wait>.shape,
.aws-sfn-graph-container.colorized .node.state.Pass>.shape {
    stroke: var(--text-normal);
}

.aws-sfn-graph-container.colorized .node.anchor tspan {
    fill: #fff;
}

.aws-sfn-graph-container .aws-sfn-widget {
    position: absolute;
    top: 0;
    right: 0;
}

.aws-sfn-graph-container .aws-sfn-widget button {
    margin: 5px;
    display: block;
}